@inherits LayoutComponentBase

<div class="app-shell">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">&#10005;</span>
</div>
